:root {
    --primary-color: rgb(188, 222, 255);  /* Base color for borders, headings */
    --secondary-color: rgb(255, 255, 255);  /* Color for text elements */
    --background-color1: rgb(7, 23, 39); /* First background gradient color */
    --background-color2: rgb(10, 10, 20);  /* Second background gradient color */
    --background-color3: rgb(39, 6, 18);
    --background-inside-border-color: rgb(35, 37, 50);      /* Border gradient color 1 */
    --background-inside-border-color2: rgb(35, 37, 50);     /* Border gradient color 2 */
    --border-color1: rgb(174, 236, 255);
    --border-color2: rgb(246, 219, 255);
    --special-color: rgb(106, 255,255);
    --special-height: 2px;
    --navbar-height: calc(25px + 2em);
}

*{
    font-family: Karla, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.body{
    background-image: linear-gradient(var(--background-color1), var(--background-color2));
}

.introduction{
    margin-left: 20px;
    background: linear-gradient(90deg, rgba(42,33,80,0.8) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 100%);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:  5px;
    margin-right: 5px;

    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.introduction h1, p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.border{
    width: 60%;
    margin: 0 auto;
    background-image: linear-gradient(var(--background-inside-border-color), var(--background-inside-border-color2));

    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    
    border-left: 5px solid;
    border-right: 5px solid;
    border-image-source: linear-gradient(var(--border-color1), var(--border-color2));
    border-image-slice: 1;
}

h1{
    color: var(--primary-color);
}

h2{
    color: var(--primary-color);
}

h3{
    color: var(--primary-color);
}

p{
    color: var(--secondary-color);
}

ul{
    color: var(--secondary-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-inside-border-color);
    width: 100%;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    border-bottom: var(--special-height) solid;
    border-color: var(--special-color);
}

.break{
    height: var(--navbar-height);
}

.logo{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: var(--primary-color);
}

.unit{
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 5px;
    margin-right: 5px;
}

.image{
    width: 100%;
}

/* Styles for desktop screens (min-width 992px) */ 
@media only screen and (min-width: 992px){
    .border{
        width: 60%;
    }
} 

/* Styles for tablet screens (width between 768px and 992px) */ 
@media only screen and (min-width: 768px) and (max-width: 992px) { 
    .border{
        width: 80%;
    }
} 

/* Styles for phone screens (max-width 768px) */ 
@media only screen and (max-width: 768px) { 
    .border{
        width: 100%;
    }
}