:root {
    --primary-color: rgb(210, 169, 112);  /* Base color for borders, headings */
    --secondary-color: rgb(240, 234, 212);  /* Color for text elements */
    --background-color1: rgb(74, 71, 64); /* First background gradient color */
    --background-color2: rgb(40, 37, 29);  /* Second background gradient color */
    --border-color: rgb(86, 77, 65);      /* Border gradient color 1 */
    --border-color2: rgb(47, 43, 36);     /* Border gradient color 2 */
  }

.fighter{
    padding-left: 20%; 
    padding-right: 20%;

}

.border{
    background-image: linear-gradient(var(--border-color), var(--border-color2));

    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 5%;
    padding-right: 5%;
    
    border: 5px solid;
    border-color: var(--primary-color);
    border-radius: 25px;
}

.body{
    background-image: linear-gradient(var(--background-color1), var(--background-color2));
}

h1{
    color: var(--primary-color);
}

h2{
    color: var(--primary-color);
}

h3{
    color: var(--primary-color);
}

p{
    color: var(--secondary-color);
}

ul{
    color: var(--secondary-color);
}