:root {
    --primary-color: rgb(188, 222, 255);  /* Base color for borders, headings */
    --secondary-color: rgb(255, 255, 255);  /* Color for text elements */
    --background-color1: rgb(7, 23, 39); /* First background gradient color */
    --background-color2: rgb(10, 10, 20);  /* Second background gradient color */
    --backroudnd-color3: rgb(39, 6, 18);
    --background-inside-border-color: rgb(35, 37, 50);      /* Border gradient color 1 */
    --background-inside-border-color2: rgb(35, 37, 50);     /* Border gradient color 2 */
    --border-color1: rgb(174, 236, 255);
    --border-color2: rgb(246, 219, 255);
}

.body{
    background-image: linear-gradient(var(--background-color1), var(--background-color2));
    font-family: Karla, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.introduction{
    margin-left: 20px;
    background: linear-gradient(90deg, rgba(42,33,80,0.8) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 100%);
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.fighter{
    margin: 0 auto;

}

.border{
    background-image: linear-gradient(var(--background-inside-border-color), var(--background-inside-border-color2));

    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    
    border-left: 5px solid;
    border-right: 5px solid;
    border-image-source: linear-gradient(var(--border-color1), var(--border-color2));
    border-image-slice: 1;
}

h1{
    color: var(--primary-color);
}

h2{
    color: var(--primary-color);
}

h3{
    color: var(--primary-color);
}

p{
    color: var(--secondary-color);
}

ul{
    color: var(--secondary-color);
}

.navbar {
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 10; /* Ensure the navbar stays on top of other elements */
    
    background-color: var(--background-color1);
    
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right, var(--border-color1), var(--border-color2));
    border-image-slice: 1;
    
    display: flex;
    justify-content: space-between;
}

.info{
    margin: auto 0;
}

/* Styles for desktop screens (min-width 992px) */ @media only screen and (min-width: 992px{
    .fighter {
         width: 60%; /* Set width for desktops */ 
    }
} 

/* Styles for tablet screens (width between 768px and 992px) */ 
@media only screen and (min-width: 768px) and (max-width: 992px) { 
    .fighter { 
        width: 80%; /* Adjust width for tablets */ 
    } 
} 

/* Styles for phone screens (max-width 768px) */ 
@media only screen and (max-width: 768px) { 
    .fighter { 
        width: 100%; /* Set full width for phones */  
    }
}